.detail {

  width: 16px;
  height: 100%;
  margin-right: 16px;

  &.ceremony {
    --background: var(--ion-color-warning);
    --color: #000;
  }

  &.keynote {
    --background: var(--ion-color-success);
    --color: #000;
  }

  &.conference {
    --background: var(--ion-color-secondary);
    --color: #000;
  }

  &.visit {
    --background: var(--ion-color-tertiary);
    --color: #000;
  }

  &.break {
    --background: var(--ion-color-warning);
    --color: #000;
  }

}
