<conferentia-fillable-content-page
  [content]="scheduleContent"></conferentia-fillable-content-page>

<ng-template #scheduleContent>
  <ion-card>
    <ion-card-content>
      <p>
        The programme will highlight the work and recent developments in the
        field of heterogeneous catalysis through the two
        <strong>plenary conferences</strong>, the distinguished
        <strong>keynote lecturers</strong> (25 min + 5 min discussion) and will
        be complemented by <strong>oral presentations</strong> (15 min + 5 min
        discussion) and <strong>flash poster presentations</strong> (3 min
        online only).
      </p>
      <p>
        The information related to the activities the workshop can be consulted
        by clicking/tapping on them in the programme list. The activities
        include description and bios of speakers for Conferences and Keynotes,
        the abstracts for Presentations, and finally the videos for each
        presentation of the Poster Sessions.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ng-container *ngIf="(schedule$ | async) as schedule">
        <conferentia-schedule [schedule]="schedule"></conferentia-schedule>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ng-template>
