.content-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  height: 100%;

  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30%;
    ion-button {
      height: 72px;
    }
  }
}
