.content-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;

  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30%;
    ion-button {
      height: 72px;
    }
  }

  .logo-container {
    width: 100%;
    ion-img {
      margin: auto;
      max-width: 300px;
    }
  }

  .sponsor-container {
    background-color: white;
  }
}
