<conferentia-fillable-content-page
  [content]="submitAbstractRevisionContent"></conferentia-fillable-content-page>

<ng-template #submitAbstractRevisionContent>
  <ng-container *ngIf="abstract$ | async as abstract">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <div class="ion-margin-bottom">
              <p>
                <ion-label>
                  <strong>ID:</strong> {{abstract.subjectArea.code + '-' +
                  abstract.identifier.toUpperCase()}}
                </ion-label>
              </p>
              <p>
                <ion-label
                  ><strong>Title: </strong
                  ><a [href]="abstract.fileUrl"
                    >{{abstract.title}}</a
                  ></ion-label
                >
              </p>
              <p>
                <ion-label>
                  <strong>Subject Area: </strong
                  >{{abstract.subjectArea.name}}</ion-label
                >
              </p>
              <p>
                <ion-label
                  ><strong>Submitted Date: </strong>{{abstract._createdAt |
                  date}}</ion-label
                >
              </p>
            </div>
            <div class="ion-margin-bottom">
              <p>
                <ion-label
                  ><strong>Status: </strong
                  >{{abstract.status.toUpperCase()}}</ion-label
                >
              </p>
              <p>
                <ion-label
                  ><strong>Format: </strong>{{abstract.format}}</ion-label
                >
              </p>
              <p>
                <ion-label
                  ><strong>Keywords: </strong>{{abstract.keywords.join(', ')}}
                </ion-label>
              </p>
              <p>
                <ion-label
                  ><strong>Authors: </strong>{{abstract.authors | authors
                  }}</ion-label
                >
              </p>
              <p>
                <ion-label
                  ><strong>Submitted by: </strong>{{abstract.user.firstName + '
                  ' + abstract.user.lastName }} (<a
                    [href]="'mailto:' + abstract.user.email"
                    >{{abstract.user.email}}</a
                  >)
                </ion-label>
              </p>
              <p *ngIf="abstract.status === 'Assigned modality: Flash poster'">
                <ion-label class="ion-margin-top"
                  ><strong>Flash Poster URL/Link: </strong>

                  <ng-container *ngIf="abstract.posterUrl">
                    <a [href]="abstract.posterUrl">{{ abstract.posterUrl }}</a>
                  </ng-container>

                  <ng-container *ngIf="!abstract.posterUrl">
                    Not Submitted
                  </ng-container>
                </ion-label>
              </p>
              <p class="ion-padding-top"><strong>Abstract Review</strong></p>
              <p>{{abstract.review}}</p>
            </div>
            <ion-button (click)="onDownloadClicked(abstract.fileUrl)">
              <ion-icon name="download-outline" slot="start"></ion-icon>
              Download Submitted Abstract File</ion-button
            >
          </ion-col>
          <ion-col size="6" offset="1">
            <form [formGroup]="form">
              <ion-list-header
                ><strong>Submit Abstract Revision & Flash Poster link</strong>
              </ion-list-header>
              <ion-list-header>
                Use this form to upload a new PDF with a revision of your
                abstract and, in case your presentation is a Flash Poster, the
                URL/Link with the Flash Poster video.
              </ion-list-header>

              <ion-item>
                <ion-label><strong>Abstract Revision</strong></ion-label>
                <ion-input
                  type="file"
                  formControlName="pdfFile"
                  class="form-control-file"
                  id="uploaded-image"
                  accept="application/pdf"
                  size="2048000"
                  (change)="processUploadedAbstractFile($event)"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label><strong>Flash Poster URL/Link</strong></ion-label>
                <ion-input type="text" formControlName="posterUrl"></ion-input>
              </ion-item>
              <ion-button
                (click)="onSaveClicked()"
                [disabled]="form.pristine || !form.valid || submitted"
                >Submit Revision / Flash Poster Link
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ng-container>
</ng-template>
