<conferentia-fillable-content-page
  [content]="participantsContent"
></conferentia-fillable-content-page>

<ng-template #participantsContent>
  <ng-container *ngIf="(participants$ | async) as participants">
    <ng-container *ngFor="let participant of participants">
      <ion-card>
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-avatar *ngIf="participant.avatar">
                  <img [src]="participant.avatar" />
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-card-title
                  >{{ participant.courtesyName + '. ' + participant.firstName + ' ' + participant.lastName }}</ion-card-title
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
      </ion-card>
    </ng-container>
  </ng-container>
</ng-template>
