<conferentia-fillable-content-page
  [content]="generalInformationContent"
></conferentia-fillable-content-page>

<ng-template #generalInformationContent>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="8">
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-lg="9" class="ion-no-padding">
                <ion-card-content class="ion-text-justify">
                  <p class="ion-margin-bottom">
                    Developments, achievements and prospects on Heterogeneous
                    Catalysis will be presented in plenary and keynote lectures
                    by distinguished scientists. Oral communications and posters
                    will also be included.
                  </p>
                  <p class="ion-margin-bottom">
                    The event will be held mainly in the Auditorium of the
                    Interdisciplinary Training Simulation Center of the Faculty
                    of Medicine - National University of Littoral located in the
                    University City adjoining the Scientific Technological
                    Center Santa Fe site, where the Petunchi Building of INCAPE
                    is located.
                  </p>
                  <p class="ion-margin-bottom">
                    The French-Argentinean Workshop on Heterogeneous Catalysis
                    was declared of interest by the Honorable Municipal Council
                    of Santa Fe de la Vera Cruz on 18 August, 2022 (Declaration
                    No. 5040), of institutional interest by the Board of
                    Directors of the Faculty of Chemical Engineering (Resolution
                    CD No. 423, 23 August, 2022) and also of institutional
                    interest of the National University of Littoral (Resolution
                    No. 5601, 9 September, 2022).
                  </p>
                  <p class="ion-margin-bottom">
                    14 November 2022, the French Argentinean Workshop on
                    Heterogeneous Catalysis was declared of interest to the
                    Province of Santa Fe by Decree No. 2379.
                  </p>
                </ion-card-content>
              </ion-col>
              <ion-col size="12" size-lg="3">
                <ion-img [src]="'assets/img/auditorium.png'"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="4">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Important dates</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="primary"
              ><h2>
                French Argentinean Workshop on Heterogeneous Catalysis
              </h2></ion-text
            >
            <ion-text><h3>11-13 April 2023</h3></ion-text>
            <ion-text><h3>Santa Fe, Argentina</h3></ion-text>
            <hr />
            <ion-text color="primary"><h2>Abstract submission</h2></ion-text>
            <ion-text><h3>Available from 5 December 2022</h3></ion-text>
            <hr />
            <ion-text color="primary"
              ><h2>Abstract submission deadline</h2></ion-text
            >
            <ion-text><h3>10 February 2022</h3></ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
